# Project exclude paths
/target/
/my.properties
### Header element

## First section
*.jar
*.war
*.ear
out/
.idea
## Second section
.gradle/
build/

# .gitignore negations
!out/foo.txt
!bar/

# Mercurial syntax switch
syntax: glob
